*{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
  background-color: gray;
}

h1 {
  border: dashed white;
  margin: 20px;
  padding: 5px;
  background-color: black;
  color: white;
  text-align: center;
  
}

li.buttom {
  text-align: center;
  display: inline;
  padding: 0px 20px;
  text-decoration: none;
  color: white;
}

p{
  background-color: black;
  color: white;
  text-align: center;
  display: block;
  padding: 5px;
  margin: 20px;
  
}

header{
  height: 50px;
  width: 100%;
  line-height: 60px;
}

img{
  margin: 15px;
  width: 200px;
  height: 200px;
  
}

ul{
  
}

nav{
  line-height: 50px;
  text-align: right;
  height: 50px;
  width: 100x;
  border: solid black;
  position: absolute;
  top: 130px;
  right: 20px;
}


section.container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 5px;
  margin-right: 5px;
  justify-content: space-between; 
  padding: 15px;
  border: solid white;
  border-radius: 4px;
  
}

h2.title{
  text-align: center;
  font-size: larger;
  font-weight: bolder;
  margin: 10px;
}


div.item{
  color: white;
  flex: 0 0 33%;
  max-width: 33%;
  border-radius: 5px;
  background-color: black;

}

p.box-text {
  border-radius: 5px;
  background-color:rgb(26, 16, 16);
  color: rgb(145, 20, 20);

}

h3{
  font-size: larger;
  text-align: center;
}
form{
  margin: 0 auto;
  width: 500px;
  padding: 10px;
  border: 5px solid black;
  border-radius: 20px;
  text-align: center;
}  

button {
  height: 40px;
  width: 120px;
  background-color: black;
  color: white;
}


footer{
  margin: 10px
}
